<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Curso</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="bg-light">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h3 class="mb-0"><i class="bi bi-journal-plus" th:text="#{titulo.NuevoCurso}"></i> </h3>
                    </div>
                    <div class="card-body">
						<form th:action="@{/Clases/guardar}" th:object="${objCurso}" method="post">
						    
						    <div class="mb-3">
						        <label for="nombre" class="form-label" th:text="#{nombre.NuevoCurso}"></label>
						        <input type="text" th:field="*{nombre}" class="form-control" id="nombre" required>
						    </div>

						    <div class="mb-3">
						        <label for="profesor" class="form-label" th:text="#{profesor.Curso}"></label>
						        <select th:field="*{profesor}" class="form-select" id="profesor">
						            <option value="">-- Seleccione un profesor --</option>
						            <option th:each="p : ${listaProfesores}" 
						                    th:value="${p.id}" 
						                    th:text="${p.nombre + ' ' + p.apellido1}">
						            </option>
						        </select>
						    </div>

						    <div class="mt-4">
						        <button type="submit" class="btn btn-primary" th:text="#{guardarCurso}"></button>
						        <a th:href="@{/Clases}" class="btn btn-secondary" th:text="#{cancelar}"></a>
						    </div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>